@use "../../scss/abstracts/variables" as v;
@use "../../scss/abstracts/mixins" as m;

.login {
  align-items: flex-start;
  padding-top: 5rem;
  @include m.page-basic;
  @include m.flex-center;

  .login-box,
  .register-box {
    background-color: v.$background-color;
    border: 1px solid v.$white;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    color: v.$white;
    margin: 1rem;

    min-height: 30rem;
    .login__title {
      display: flex;
      margin-bottom: 1.2rem;
      align-self: flex-start;
    }
  }

  .login-box {
    justify-content: flex-start;
    flex-direction: column;
    flex: 2;
    max-width: 38rem;
    @include m.flex-center;
    .login-btn {
      @include m.small-btn;
    }
  }
  .register-box {
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
    max-width: 28rem;
    @include m.flex-center;
  }

  .login__title-sec {
    align-self: flex-start;
  }

  .input-wrapper {
    flex-direction: column;
    width: 100%;
    @include m.flex-center;

    .login-input {
      width: 100%;
      font-size: 0.9rem;
      margin: 1rem 0;
      padding: 1rem;
      border: 3px solid v.$white;
      border-radius: 10px;
      background-color: v.$white;
      color: v.$black;
      transition: 0.1s;

      &:focus {
        outline: v.$primary 5px solid;
      }
    }
  }

  .btn-l {
    display: block;
    width: 100%;
    padding: 0.6rem;
    margin: 0.6rem 0;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
  }

  .login-btn {
    background-color: v.$btn-l;
    color: v.$white;
    margin: 1rem 0;
    position: relative;
    @include m.interactive-btn;
  }

  .btn--register {
    background-color: v.$btn-l;
    color: v.$white;
    @include m.interactive-btn;
  }

  .btn--forgot {
    background-color: v.$white;
    color: v.$black;
    @include m.interactive-btn;
  }

  .privacy-policy {
    margin-top: 1rem;
    font-size: 0.9rem;

    .privacy-policy__entry {
      color: v.$gray;
      text-decoration: underline;
      transition: 0.35s;

      &:hover {
        color: v.$primary;
      }
    }
  }

  .tips {
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    width: 100%;

    font-size: 0.8rem;
    margin-top: 1rem;
    border-top: 1px solid v.$white;
    @include m.flex-center;

    .tips__title {
      font-size: 1.2rem;
      color: v.$btn-l;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      white-space: normal;
      text-align: start;
    }

    .tips__content {
      font-size: 0.9rem;
      white-space: normal;
      text-align: start;
      white-space: normal;
      text-align: start;
    }
  }
}

@media (max-width: 768px) {
  .login {
    flex-direction: column;
    padding: 2rem;
    .login-box {
      width: 100%;
      flex: none;
      max-width: 100%;
      margin: 2rem 0;
    }
    .register-box {
      width: 100%;
      flex: none;
      max-width: 100%;
      margin: 2rem 0;
    }
  }
}
