@use "../../scss/abstracts/variables" as v;
@use "../../scss/abstracts/mixins" as m;

.register-container {
  @include m.flex-center;
  align-items: flex-start;
  min-height: calc(100vh - 6rem);
  background-color: v.$secondary;
  padding: 0 2rem;
  padding-top: 5rem;

  .register-case, 
  .login-case {
    background-color: v.$secondary-dark;
    border: 1px solid v.$white;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    color: v.$white;
    margin: 1rem;

    .register-title,
    .login-title {
        display: flex;
        margin-bottom: 1.2rem;
        align-self: flex-start;
      }
  }
  .register-case {
    @include m.flex-center;
    justify-content: flex-start;
    flex-direction: column;
    flex: 2;
    max-width: 38rem;
    .register-btn {
      @include m.small-btn;
    }
  }
  .login-case {
    @include m.flex-center;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
    max-width: 28rem;
  }

  .register-title-sec {
    align-self: flex-start;
  }

  .input-wrapper {
    @include m.flex-center;
    flex-direction: column;
    width: 100%;

    .register-input {
      width: 100%;
      font-size: 0.9rem;
      margin: 1rem 0;
      padding: 1rem;
      border: 3px solid v.$white;
      border-radius: 10px;
      background-color: v.$white;
      color: v.$black;
      transition: .1s;

      &:focus {
        outline: v.$primary 5px solid;
      }
    }
  }

  .register-btn {
    @include m.interactive-btn;
    background-color: v.$btn-l;
    color: v.$white;
    margin: 1rem 0;
    position: relative;
  }

  .login-btn {
    @include m.interactive-btn;
    background-color: v.$btn-l;
    color: v.$white;
  }

  .btn-r {
    display: block;
    width: 100%;
    padding: .6rem;
    margin: .6rem 0;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
  }

  .privacy-policy {
    margin-top: 1rem;
    font-size: 0.9rem;

    .privacy-enter {
      color: v.$gray;
      text-decoration: underline;
      transition: 0.35s;
      &:hover {
        color: v.$primary;
      }
    }
  }
}

@media (max-width:768px) {
    .register-container {
      flex-direction: column;
      padding: 2rem;
      .register-case {
        width: 100%;
        flex: none;
        max-width: 100%;
        margin: 2rem 0;
      }
      .login-case {
        width: 100%;
        flex: none;
        max-width: 100%;
        margin: 2rem 0;
      }
    }
  }
