@use "../../scss/abstracts/variables" as v;
@use "../../scss/abstracts/mixins" as m;

.forgot-password {
  flex-direction: column;
  color: v.$white;
  padding: 5rem 2rem;
  @include m.flex-center;
  @include m.page-basic;

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    background-color: v.$background-color;
    padding: 1.5rem;
    border-radius: 10px;
    width: 100%;
    max-width: 40rem;
    border: 1px solid v.$white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    .forgot-password__label {
      font-size: 1rem;
      margin: 1rem 0;
    }

    .input-email {
      width: 100%;
      padding: 1rem;
      border-radius: 5px;
      border: 1px solid v.$white;
      background-color: rgba(255, 255, 255, 0.1);
      color: v.$white;
      font-size: 1rem;
      transition: 0.35s;

      &:focus {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    // 拖放區塊(上載)
    .dropzone {
      border: 2px dashed v.$white;
      padding: 4rem 1rem;
      text-align: center;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.1);
      transition: 0.35s;
      border-radius: 8px;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }

      .upload-icon {
        font-size: 3rem;
        color: v.$white;
        margin-bottom: 10px;
        opacity: 0.8;
      }

      .upload-text {
        margin: 0;
        font-size: 1rem;
      }
    }

    // 提交按鈕
    .upload-btn {
      background-color: v.$btn-l;
      color: v.$white;
      margin: 1rem 0;
      position: relative;

      display: block;
      padding: 0.6rem;
      margin: 2rem 0;
      border: none;
      border-radius: 5px;
      text-align: center;
      font-size: 1rem;
      cursor: pointer;
      text-decoration: none;
      @include m.interactive-btn;
    }
  }

  // 訊息提示
  .message {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;

    &.success {
      color: v.$success;
    }

    &.error {
      color: v.$danger;
    }
  }

  // 上傳記錄區塊
  .upload-history {
    margin-top: 2rem;
    width: 100%;
    max-width: 40rem;
    background: rgba(v.$background-color, 0.05);
    padding: 2rem 2rem;
    border-radius: 8px;
    border: 1px solid v.$white;

    .upload-history__title {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }

    .upload-history__content {
      list-style: none;
      padding: 0;

      .upload-history__item {
        font-size: 0.9rem;
        padding: 0.5rem 0;
        border-bottom: 1px solid v.$white;
        @include m.single-ellipsis;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .forgot-password {
    padding: 15px;

    form {
      width: 100%;
    }

    .upload-history {
      width: 100%;
    }
  }
}
