@use "../../scss/abstracts/variables" as v;
@use "../../scss/abstracts/mixins" as m;

.member-container {
  color: v.$white;
  @include m.page-basic;

  .member__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  .member-box {
    width: 100%;
    @include m.flex-center($justify: flex-start, $align: flex-start);

    .sidebar {
      flex: 1;
      flex-direction: column;
      @include m.flex-center;

      .user-info {
        flex-direction: column;
        margin-bottom: 1rem;
        @include m.flex-center;

        .user-avatar {
          background-color: v.$greyLight-1;
          padding: 10px;
          margin-bottom: 1rem;
          aspect-ratio: 1/1;
          width: 100px;
          border-radius: 50%;

          @include m.flex-center;
          .fa-user {
            font-size: 48px;
            color: v.$dark;
          }
        }

        .username {
          font-size: 1.2rem;
        }

        .points {
          font-size: 3rem;

          .points__text {
            font-size: 1.2rem;
          }
        }
      }

      .menu {
        width: 100%;
        background-color: v.$white;
        border-radius: 10px;
        overflow: hidden;

        .menu-item {
          width: 100%;
          border-bottom: 1px solid v.$greyLight-3;
          transition: 0.35s;

          &:last-child {
            border-bottom: none;
          }

          .menu-item__link {
            display: block;
            width: 100%;
            color: v.$black;
            font-size: 1rem;
            padding: 10px 32px;
            transition: 0.35s;
            white-space: nowrap;

            &:hover {
              background-color: v.$greyLight-1;
            }
          }

          &.active .menu-item__link {
            background-color: v.$thirdary;
            color: v.$white;
          }
        }
      }
    }

    .points-content {
      flex: 4;
      border: 1px solid v.$white;
      padding: 1rem;
      border-radius: 10px;
      margin-left: 2rem;

      .points-check {
        .points__title {
          color: v.$thirdary;
        }
        .remaining-points {
          border-bottom: 1px solid v.$white;
          padding-bottom: 1rem;
          margin-bottom: 1rem;

          .points-value {
            font-size: 3rem;
            color: v.$danger;
          }
        }

        .transaction-list {

          .transaction {
            border: 1px solid v.$white;
            border-radius: 10px;
            padding: 1rem;
            margin-bottom: 1rem;
            @include m.flex-center($justify: space-between, $align: flex-start);

            &:last-child {
              margin-bottom: 0;
            }

            .transaction-info {
              .time, .payment-method, .order-id {
                margin-bottom: .5rem;
                letter-spacing: .05rem;
              }

              .time, .payment-method{
                color: v.$gray;
              }
            }

            .points-detail {
              .points-amount {
                color: v.$danger;
                font-size: 1.5rem;
                margin-right: 0.5rem;
              }
            }


            .status {
              padding: 2px 4px;
              font-size: 12px;
              border-radius: 5px;
              margin-left: 0.5rem;
              white-space: nowrap;


              &.success {
                background-color: v.$success;
              }

              &.processing {
                background-color: v.$warning;
                color: v.$black;
              }

              &.failed {
                background-color: v.$danger;
              }
            }
          }


        }
      }
    }
  }
}


@media (max-width: 1024px) {
  .member-container {
    .member-box {
      .points-content {
        .transaction-list {
          .transaction {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            padding: 1rem 0;
            border-bottom: 1px solid v.$white;

            .points-detail {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .member-container {
    .member-box {
      flex-direction: column;
      align-items: center;
      .sidebar {
        flex: 0;
        width: 100%;
        margin-bottom: 1rem;
      }
      .points-content {
        flex: 0;
        margin: 0;
        width: 100%;

        .transaction-list {
          width: 100%;

          .transaction {
            width: 100%;

            .points-detail {
              width: 100%;
            }
          }
        }
      }
    }
  }
}