@use "../../../scss/abstracts/variables" as v;
@use "../../../scss/abstracts/mixins" as m;

.modal-recharge-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;

  @include m.flex-center;
}

.modal-recharge {
  background: v.$white;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  color: v.$black;
  text-align: center;

  .modal-title {
    border-bottom: 1px solid v.$greyLight-3;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;

    @include m.flex-center;

    .success-icon {
      font-size: 1.5rem;
      color: v.$success;
      margin-right: 0.5rem;
    }
  }

  .modal-content {
    flex-direction: column;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid v.$greyLight-3;
    gap: 0.5rem;
    @include m.flex-center($align: flex-start);
  }

  .modal-text {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid v.$greyLight-3;
    margin-bottom: 1rem;
  }

  .modal-buttons {
    margin-top: 20px;
    @include m.flex-center($justify: space-around);
  }

  .btn--modal {
    @include m.btn-basic;
    @include m.interactive-btn;
  }

  .cancel {
    background-color: v.$dark;
    color: v.$white;
  }

  .confirm {
    background-color: v.$thirdary;
    color: v.$white;
  }
}

@media (max-width: 430px) {
  .modal-recharge-backdrop {
    .modal-recharge {
      max-width: 90%;
    }
  }
}