@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: nowrap;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    font-family: "Noto Sans TC", sans-serif;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  ul, ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    all: unset;
    outline: none;
    box-shadow: none;
  }
  
  