@use "../../scss/abstracts/variables" as v;
@use "../../scss/abstracts/mixins" as m;

.home-container {
  width: 100%;
  min-height: calc(100vh - 6rem);
  background-color: v.$dark-background;

  .home-carousel {
    @include m.sensational-mask;
    position: relative;
    width: 100%;
    padding: 0 2rem;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .home-content {
    display: flex;
    padding: 2rem 5rem;
    color: v.$white;
    font-size: 1.2rem;

    .home-popular {
      flex: 3;
      margin-right: 2rem;

      &-title {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        &::before {
          content: "";
          display: inline-block;
          width: 0.4rem; // 垂直線的寬度
          height: 1.5em; // 與文字等高
          background-color: v.$thirdary; // 垂直線的顏色
          margin-right: 20px; // 與文字的間距
        }
      }

      .card-grid-popular {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        // grid-template-columns: repeat(auto-fit, 18rem);
        align-items: start;
        max-width: 100%;
        gap: 2rem;
        margin-top: 2rem;
        padding: 1rem 0;
      }
    }

    .more-btn-box {
      @include m.flex-center;
      width: 100%;
      margin-top: 2rem;
      .more {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border: 1px solid v.$white;
        border-radius: 10px;
        transition: .35s;
        cursor: pointer;

        &:hover {
          color: v.$secondary;
          background-color: v.$white;
        }
      }
    }

    .home-side {
      flex: 1;

      .home-side-reserve {
        &-title {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          &::before {
            content: "";
            display: inline-block;
            width: 0.4rem; // 垂直線的寬度
            height: 1.5em; // 與文字等高
            background-color: v.$thirdary; // 垂直線的顏色
            margin-right: 20px; // 與文字的間距
          }
        }

        .reserve-game-list {
          display: flex;
          flex-direction: column;
          padding: 1rem 0;
          border-bottom: 1px solid v.$white;
        }
      }

      .home-side-ad {
        @include m.sensational-mask;
        display: flex;
        width: 100%;
        position: relative;
        margin-top: 2rem;


        .home-side-ad-link {
          width: 100%;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .home-container {
    padding: 0 10%;
    .home-carousel {
      padding: 0;
    }
    .home-content {
      padding: 2rem 0;
    }
  }
}

@media (max-width: 1024px) {
  .home-container {
    .home-content {
      padding: 2rem;
    }
  }
}

@media (max-width: 991px) {
  .home-container {
    .home-content {
      flex-direction: column;
      padding: 2rem;

      .home-popular {
        margin-right: 0;
        margin-bottom: 2rem;
      }

      .home-side {
        display: flex;
        flex-direction: row;

        .home-side-reserve {
          flex: 1;
          .reserve-game-list {
            border-bottom: transparent;
          }
        }

        .home-side-ad {
          flex: 1;
          margin: 2rem auto;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .home-container {
    .home-carousel {
      padding: 0;
    }
    .home-content {
      padding: 2rem;
      .home-side {
        flex-direction: column;
      }
    }
  }
}