@use "../../scss/abstracts/variables" as v;
@use "../../scss/abstracts/mixins" as m;

.game-details {
  @include m.page-basic;

  .game__page {
    width: 100%;
    color: v.$white;

    .game__title {
      .game__title-text {
        font-size: 2rem;
      }
    }

    .game__info {
      justify-content: space-between;
      width: 100%;
      height: 12rem;
      margin-top: 2rem;
      @include m.flex-center;

      .game__info-content {
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        @include m.flex-center;

        .game-avatar {
          object-fit: cover;
          width: 12rem;
          border-radius: 1rem;
          border: 2.5px solid v.$white;
          margin-right: 1rem;
        }

        .info-text__container {
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          letter-spacing: 0.1rem;
          gap: 0.1rem;
          @include m.flex-center;

          .info-text {
            max-width: 50rem;
            white-space: normal;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }

        .tags {
          display: flex;
          gap: 10px;
          margin-top: 0.2rem;
          flex-wrap: wrap;
          width: 100%;

          .tag {
            text-align: center;
            padding: 0.4rem 0.8rem;
            border-radius: 10px;
            white-space: nowrap;
            @include m.flex-center;

            &.tag-genre {
              background-color: v.$thirdary;
              color: v.$white;
            }

            &.tag-language {
              background-color: v.$gray;
              color: v.$white;
            }
            &.tag-platforms {
              background-color: v.$aid;
              color: v.$white;
            }
          }
        }
      }
    }

    .download-buttons {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      gap: 1rem;
      margin-left: 1rem;

      background-color: v.$greyLight-1;
      padding: 1rem;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px;

      .download-btn {
        padding: 0.7rem 1rem;
        font-weight: bold;
        @include m.btn-basic;

        &.ios {
          background-color: v.$greyLight-1;
          color: v.$dark;
          box-shadow: v.$shadow;
          transition: 0.35s;
          border: 2px solid transparent;

          &:active {
            box-shadow: v.$inner-shadow;
          }
          &:hover {
            box-shadow: none;
            border: 2px solid v.$dark;
          }
        }

        &.android {
          background-color: v.$success;
          color: v.$white;
          box-shadow: v.$shadow-green;
          border: 2px solid transparent;

          &:active {
            box-shadow: v.$inner-shadow-green;
          }
          &:hover {
            box-shadow: none;
            border: 2px solid white;
          }
        }

        .icon {
          margin-right: 0.5rem;
          font-size: 1.5rem;
          align-self: center;
        }
      }
    }

    .carousel-container {
      width: 100%;
      margin: 2rem auto;

      .carousel-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;

        user-select: none;
        -webkit-user-drag: none; /* 禁止拖曳 */
        -webkit-tap-highlight-color: transparent; /* 防止反白 */
      }

      /* 左右箭頭大小與顏色 */
      .swiper-button-next,
      .swiper-button-prev {
        color: v.$aid; /* 改變箭頭顏色 */
        font-size: 24px;
        width: 50px;
        height: 50px;
      }

      /* 修改分頁點的顏色、大小 */
      .swiper-pagination-bullet {
        background: v.$white;
        width: 12px;
        height: 12px;
        opacity: 0.6;
        transition: opacity 0.3s;
      }

      /* 目前選中的分頁點 */
      .swiper-pagination-bullet-active {
        background: v.$aid;
        opacity: 1;
      }

      /* 分頁點方形 */
      .swiper-pagination-bullet {
        border-radius: 4px;
      }
    }

    .game-introduce__container {
      margin-top: 1rem;

      .game-introduce__title {
        border-bottom: 2px solid v.$white;
        padding-bottom: 1.5rem;
      }
      .game-introduce {
        padding-top: 1.5rem;
        white-space: pre-line;
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
      }
    }
  }
}

@media (min-width: 1440px) {
  .game-details {
    padding: 0 10%;
  }
}

@media (max-width: 991px) {
  .game-details {
    .game__page {
      .game__info {
        height: fit-content;
        .game__info-content {
          flex-direction: column;
          align-items: flex-start;
          .game-avatar {
            margin: 1rem 0;
          }
          .tags {
            margin: 1rem 0;
          }
        }
      }

      .download-buttons {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, -50%);

        transition: 0.35s;
        z-index: 999;
        margin: 0;

        .download-btn {
          box-shadow: v.$shadow;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .game-details {
    .game__page {
      .game__info {
        height: fit-content;
        .game__info-content {
          flex-direction: column;
          align-items: flex-start;
          .game-avatar {
            margin: 1rem 0;
          }
          .info-text__container {
            margin: 0;

            .tags {
              transform-origin: left center;
              align-self: flex-start;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .game-details {
    padding: 1rem;
    .game__title {
      @include m.flex-center;
    }
    .game__page {
      .game__info {
        .game__info-content {
          width: 100%;
          .game-avatar {
            margin: 1rem auto;
          }
          .info-text__container {
            width: 100%;
            .info-text {
              width: 100%;
              max-width: none;
              display: block;
              overflow: visible;
              -webkit-line-clamp: unset;
              -webkit-box-orient: unset;
            }
            .tags {
              transform-origin: left;
            }
          }
        }
      }
    }
  }
}
