@use "../../../scss/abstracts/variables" as v;
@use "../../../scss/abstracts/mixins" as m;

.member-container {
  .qrcode-wrapper {
    @include m.user-area;

    .qrcode-box {
      text-align: center;
      margin: 1rem auto;

      .qrcode__title {
        color: v.$thirdary;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      .qrcode__subtitle {
        font-size: 1.5rem;
        color: v.$danger;
        margin-bottom: 1rem;
      }

      .qrcode__canvas {
        margin: 1rem 0;
        border: 8px solid #fff;
        border-radius: 5px;
      }

      .qrcode__note {
        margin-top: 1rem;
        font-size: 1.2rem;
        color: #ccc;

        .qrcode__tip {
          color: #dcdcdc;
        }
      }
    }
  }
}
