@use "../../../scss/abstracts/variables" as v;
@use "../../../scss/abstracts/mixins" as m;

.member-container {
  .points-content {
    @include m.user-area;

    .points-check {
      .btn--back {
        cursor: pointer;
        transition: 0.35s;
        display: none;
      }

      .points__title {
        color: v.$thirdary;
      }

      .current-points {
        display: flex;
        border-bottom: 1px solid v.$white;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        .remaining-points {
          .points-value {
            font-size: 3rem;
            color: v.$danger;
            margin-left: 0.5rem;
          }
        }

        .remaining-dividend {
          margin-left: 1rem;

          .dividend-value {
            font-size: 3rem;
            color: v.$danger;
            margin-left: 0.5rem;
          }
        }
      }

      .transaction-list {
        .transaction {
          border: 1px solid v.$white;
          border-radius: 10px;
          padding: 1rem;
          margin-bottom: 1rem;
          @include m.flex-center($justify: space-between, $align: flex-start);

          &:last-child {
            margin-bottom: 0;
          }

          .transaction-info {
            .time,
            .payment-method,
            .order-id {
              margin-bottom: 0.5rem;
              letter-spacing: 0.05rem;
            }

            .time,
            .payment-method {
              color: v.$gray;
            }
          }

          .points-detail {
            display: flex;
            align-items: center;
            .points-amount {
              color: v.$danger;
              font-size: 1.5rem;
              margin-right: 0.5rem;
            }
          }

          .status {
            margin-left: 0.5rem;
            @include m.tag-status;

            &.success {
              background-color: v.$success;
            }

            &.processing {
              background-color: v.$warning;
              color: v.$black;
            }

            &.failed {
              background-color: v.$danger;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .member-container {
    .member-box {
      .points-content {
        .transaction-list {
          .transaction {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            padding: 1rem;
            border-bottom: 1px solid v.$white;

            .points-detail {
              width: 100%;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .member-container {
    .points-content {
      .points-check {
        .btn--back {
          display: block;
        }
        .points__title {
          text-align: center;
        }
        .current-points {
          flex-direction: column;

          .remaining-dividend {
            margin: 0;
          }
        }
      }

      .transaction-list {
        width: 100%;

        .transaction {
          width: 100%;

          .points-detail {
            width: 100%;
          }
        }
      }
    }
  }
}
