@use '../../scss/abstracts/variables' as v;
@use '../../scss/abstracts/mixins' as m;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  height: 6rem;
  margin: 0 auto;
  padding: 0 10%;
  background-color: v.$black;
  color: v.$white;
  position: relative;

  .navbar__container {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 10rem;
    min-width: 8rem;
  }

  .navbar__logo {
    width: 100%;
    height: auto;

    .logo {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .navbar__links {
    display: flex;
    gap: 1rem;

    .navbar__link {
      list-style: none;
      white-space: nowrap;

      a {
        text-decoration: none;
        color: v.$white;
        transition: color 0.35s;

        &:hover {
          color: v.$primary;
        }
      }
    }
  }

  .hamburger-menu {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .navbar-auth__slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-left: 2rem;
    width: 100%;

    .navbar-auth__slide-box {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .btn {
      @include m.small-btn;
      white-space: nowrap;
      
      &.btn--login,
      &.btn--logout {
        background-color: transparent;
        color: v.$white;
        border: 1px solid v.$white;
        transition: .35s;
        &:hover {
          color: v.$secondary;
          background-color: v.$white;
          transition: .35s;
          animation: pulse-log 1s;
          box-shadow: 0 0 0 1em transparent;

          @keyframes pulse-log {
            0% {
              box-shadow: 0 0 0 0 v.$white;
            }
          }
        }
      }

      &.btn--register {
        background-color: v.$primary;
        color: v.$white;
        transition: .35s;

        &:hover {
          animation: pulse-rig 1s;
          box-shadow: 0 0 0 1em transparent;

          @keyframes pulse-rig {
            0% {
              box-shadow: 0 0 0 0 v.$primary;
            }
          }
        }
      }
    }
    
    .user-greeting {
      white-space: nowrap;
    }

    .language-dropdown {
      position: relative;
      white-space: nowrap;

      .dropdown-toggle {
        position: relative;
        padding-right: 1.5rem;
        background-color: transparent;
        border: none;
        color: v.$white;
        cursor: pointer;

        &::after {
          content: "▼"; /* 使用 Unicode 箭頭符號 */
          position: absolute;
          right: 0.5rem;
          top: 50%;
          transform: translateY(-50%);
          font-size: 0.6rem;
          color: inherit;
        }
      }

      .dropdown-menu {
        position: absolute;
        top: 150%;
        right: -20%;
        text-align: left;
        background-color: v.$white;
        border: 1px solid v.$black;
        border-radius: 5px;
        list-style: none;
        padding: 0.5rem 0;
        display: none; // 預設不顯示
        z-index: 30;

        li {
          padding: 0.5rem 1rem;
          
          &:hover {
            background-color: v.$light;
            transition: .35s;
          }

          a {
            text-decoration: none;
            color: v.$black;
            display: block;
            white-space: nowrap;

          }
        }
      }

      &.open .dropdown-menu {
        display: block;
      }
    }
  }
}

@media(max-width: 1440px) {
  .navbar {
    padding: 1rem 2rem;
  }
}

// 小螢幕時隱藏 navbar-auth
@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 2rem;
    .navbar__links {
      flex-direction: column;
      align-items: start;
      width: 100%;
      border-bottom: 1px solid v.$white;
      padding-bottom: 1.5rem;
      margin-bottom: 1rem;
    }

    .navbar-auth {
      display: none;
    }
  
    .hamburger-menu {
      display: flex;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;
      background: none;
      border: none;
  
      .bar {
        width: 25px;
        height: 3px;
        background-color: v.$white;
        transition: 0.3s;
      }
    }
  
    // 背景遮罩
    .menu-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 10;
      opacity: 0;
      transition: 0.35s ease-in-out;
      visibility: hidden;
    
    
      &.open {
        opacity: 1;
        visibility: visible;
      }
    }
    
  
    // 右側滑出選單
    .navbar-auth__slide {
      position: fixed;
      top: 0;
      right: -300px;
      width: 250px;
      height: 100vh;
      background-color: v.$secondary;
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 2rem;
      gap: 1rem;
      transition: right 0.35s ease-in-out;
      z-index: 20;

      .navbar-auth__slide-box {
        flex-direction: column;
      }
  
      &.open {
        right: 0;
      }
  
      .close-menu {
        display: flex;
        align-self: flex-end;
        background: none;
        border: none;
        font-size: 2rem;
        color: v.$white;
        cursor: pointer;
      }
    }
  }
}
