@use "../../scss/abstracts/variables" as v;
@use "../../scss/abstracts/mixins" as m;

.member-container {
  .sidebar {
    flex: 1;
    flex-direction: column;
    @include m.flex-center;

    .user-info {
      flex-direction: column;
      margin-bottom: 1rem;
      @include m.flex-center;

      .user-avatar {
        background-color: v.$greyLight-1;
        padding: 10px;
        margin-bottom: 1rem;
        aspect-ratio: 1/1;
        width: 100px;
        border-radius: 50%;

        @include m.flex-center;
        .fa-user {
          font-size: 48px;
          color: v.$dark;
        }
      }

      .username {
        font-size: 1.2rem;
      }

      .points {
        font-size: 3rem;

        .points__text {
          font-size: 1.2rem;
        }
      }
    }

    .menu {
      width: 100%;
      background-color: v.$white;
      border-radius: 10px;
      overflow: hidden;

      .menu-item {
        width: 100%;
        border-bottom: 1px solid v.$greyLight-3;
        transition: 0.35s;

        &:last-child {
          border-bottom: none;
        }

        .menu-item__link {
          display: block;
          width: 100%;
          color: v.$black;
          font-size: 1rem;
          padding: 10px 32px;
          transition: 0.35s;
          white-space: nowrap;

          &:hover {
            background-color: v.$greyLight-1;
          }

          &.active {
            background-color: v.$thirdary;
            color: v.$white;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .member-container {
    .sidebar {
      flex: 0;
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}
