@use "../../../scss/abstracts/variables" as v;
@use "../../../scss/abstracts/mixins" as m;

.age-gate__container {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  @include m.flex-center;

  .age-gate {
    background-color: v.$white;
    padding: 1.5rem;
    border-radius: 15px;
    text-align: center;
    max-width: 300px;
    width: 90%;
  }

  .age-gate__title {
    margin-bottom: 1rem;
  }

  .age-gate__content {
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
  }

  .no-remind {
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;

    @include m.flex-center;

    input[type="checkbox"] {
      width: 16px;
      height: 16px;
      appearance: auto;
      border: 1px solid #999;
      border-radius: 2px;
      cursor: pointer;

      @include m.flex-center;
    }

    label {
      cursor: pointer;
    }
  }

  .btn--age {
    margin-top: 1rem;
    background-color: pink;
    width: 90%;

    @include m.btn-basic;
    @include m.interactive-btn;
  }
}
