@use "../../../scss/abstracts/variables" as v;
@use "../../../scss/abstracts/mixins" as m;

.card-popular {
  display: flex;
  flex-direction: column;

  height: auto;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid v.$white;

  .card-popular__image-container {
    width: 100%;
    overflow: hidden;

    .card-popular__image {
      border-bottom: 1px solid v.$white;
      @include m.img-cover;
    }
  }

  .card-popular__content {
    padding: 1.2rem 2rem;
    @include m.flex-center($justify: space-between);

    .card-popular__title {
      font-size: 1.2rem;
      margin-right: 0.5rem;
      @include m.nowrap;
    }

    .btn--play {
      padding: 0.6rem 1rem;
      font-weight: 700;
      background-color: v.$btn-p;
      border-radius: 10px;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;

      &:hover {
        animation: pulse 1s;
        box-shadow: 0 0 0 1em transparent;

        @keyframes pulse {
          0% {
            box-shadow: 0 0 0 0 v.$btn-p;
          }
        }
      }
    }
  }
}
