@use "../../scss/abstracts/variables" as v;
@use "../../scss/abstracts/mixins" as m;

.card-reserve {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;

  .reserve-image-container {
    @include m.sensational-mask;
    position: relative;
    width: 5rem;
    margin-right: 1rem;
    border-radius: 15px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .card-reserve-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .card-reserve-title {
      @include m.nowrap;

      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    .card-reserve-button {
      @include m.small-btn;
      font-size: 0.8rem;
      font-weight: 600;
      color: v.$thirdary;
      display: flex;
      justify-content: center;
      align-self: start;
      background-color: v.$white;
      color: v.$secondary;
      letter-spacing: .1rem;

      &:hover {
        color: v.$secondary;
        background-color: v.$white;
        transition: 0.35s;
        animation: pulse-rev 1s;
        box-shadow: 0 0 0 1em transparent;

        @keyframes pulse-rev {
          0% {
            box-shadow: 0 0 0 0 v.$white;
          }
        }
      }
    }
  }
}
