@use "../../scss/abstracts/variables" as v;
@use "../../scss/abstracts/mixins" as m;

.privacy {
  color: v.$white;
  @include m.page-basic;

  .privacy__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .privacy__section {
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;

    .privacy__section-title {
      font-size: 1.5rem;
      margin-bottom: 0.8rem;
      color: v.$primary;
    }

    // **一般條款 (沒有數字)** 第一行縮排，第二行開始對齊第一行文字
    .content-indent {
      padding-left: 2rem; // 讓整段內縮
      display: block;
      margin-bottom: 0.1rem;
    }

    // **數字條款 (1. 2. 3.)** 數字後的文字縮排，第二行對齊數字後的文字
    .content-numbered {
      padding-left: 3.5rem; // 讓整段內縮
      text-indent: -1.5rem; // 讓第一行數字後的文字對齊
      display: block;
      margin-bottom: 0.1rem;
    }

    // **括號數字條款 ( (1) (2) )** 括號數字後的文字縮排，第二行對齊括號後的文字
    .content-parenthesis {
      padding-left: 5rem; // 讓整段內縮
      text-indent: -2rem; // 讓第一行括號數字後的文字對齊
      display: block;
      margin-bottom: 0.1rem;
    }
  }
}

@media (max-width: 797px) {
  .privacy {
    .privacy__section {
      .privacy__section-title {
        text-align: center;
      }
    }
  }
}
