@use "../../scss/abstracts/variables" as v;
@use "../../scss/abstracts/mixins" as m;

.faq {
  color: v.$white;
  @include m.page-basic;

  .faq__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
