@use "../../scss/abstracts/variables" as v;
@use "../../scss/abstracts/mixins" as m;

.hot-games {
  @include m.page-basic;

  .hot-games__title {
    font-size: 2rem;
    color: v.$white;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
  }

  .hot-games__filter {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    color: v.$white;
    gap: 1rem;
    margin-bottom: 1rem;
    @include m.flex-center;

    .hot-games__filter-options {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      .hot-games__filter-option {
        background: transparent;
        border: 1px solid v.$white !important;
        border-radius: 15px;
        color: v.$white;
        border: none;
        padding: 0.4rem 0.8rem;
        cursor: pointer;
        transition: 0.35s;

        &:hover {
          background: #6a3e8e;
        }

        &.active {
          background: v.$thirdary;
        }
      }
    }
  }

  .hot-games__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, max-content));
    align-items: start;
    justify-content: start;
    max-width: 100%;
    gap: 2rem;
    padding: 1rem 0;
    padding-bottom: 5rem;
  }

  @keyframes plus {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }
}

@media (min-width: 1440px) {
  .hot-games {
    padding: 0 10%;
  }
}

@media (max-width: 1024px) {
  .hot-games {
    padding: 2rem;
  }
}

@media (max-width: 991px) {
  .hot-games {
    padding: 2rem;

    .hot-games__grid {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      align-items: center;
      justify-content: center;
    }
  }
}
